body {
    text-align: center;
}

header, .load, h1 {
    width: 100%;
}

.question-class {
    font-size: 20px;
    font-weight:800;
    color: purple;
    padding-bottom: 3%;
}

.answer-class div {
    padding-bottom: 1%;
}

#a1, #a2, #a3, #a4 {
    color: white;
    background-color: purple;
}

#a1:hover, #a2:hover, #a3:hover, #a4:hover {
    border-radius: 20%;
    background-color: red;
}

.hide {
    display: none;
}
